<!-- templates/home.html -->
{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
{% include 'profile/modal.html'%}
{% if user.is_authenticated %}
<div class="card row">
    <div class="card-body">
        <h2 class="card-title d-flex w-100 justify-content-between">
            User Profile
            <button id="profileEditButton" type="button" class="btn btn-primary" data-toggle="modal" data-taget="#editModal">Edit</button>
        </h2>
        <table class="table border-bottom border-dark">
            <tbody>
                <tr>
                    <td scope="row">Username</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td scope="row">Last Login</td>
                    <td>{{ user.last_login }}</td>
                </tr>
                <tr>
                    <td scope="row">Date Joined</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row h-100 py-4">
            <div class="col-2 text-center">
                <img src="{{ user.profile.get_image_url }}" class="img-fluid profile-picture"/> 
            </div>
            <div class="col-10">
                <h2>Bio</h2>
                <p>{{ user.profile.bio|linebreaks }}</p>
            </div>
        </div>
    </div>
</div>
<script>
    let editModal = $("#profileEditModal");
    $("#profileEditButton").click(function(){
        editModal.modal();
    })
</script>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Login</a>
    <p>Not registered yet? Sign up <a href="/accounts/signup/">here</a></p>
{% endif %}
{% endblock %}