<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
        <form method="POST" class="">
            {% csrf_token %}
            <div class="form-group row">
                <label for="titleInput">Title</label>
                {{ form.title }}
                <small id="titleHelp" class="form-text text-muted">A title for your entry</small>

            </div>
            <div class="form-group row">
                <label for="descriptionInput">Description</label>
                {{ form.description}}
                <small id="descriptionHelp" class="form-text text-muted">Please provide information about the problem you encountered</small>
            </div>
            <div class="form-group row">
                <label for="descriptionInput">Priority</label>
                {{ form.priority}}
                <small id="descriptionHelp" class="form-text text-muted">Please provide priority level</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
  <p>Not registered yet? Sign up <a href="/accounts/signup/">here</a></p>
{% endif %}
{% endblock %}