<!-- templates/home.html -->
{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
{% include 'bugs/modal.html'%}
{% if user.is_authenticated %}
		<div class="card">
			<div class="card-header">
				<h2>{{ bug.title }}</h2>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-1 h-100 p-auto">
						<a class="btn btn-success" onclick="bugs.ScoreBug({{ bug.pk }}, 1)" role="button">&uarr;</a>
						<p class="m-2">{{ bug.score }}</p>
						<a class="btn btn-danger" onclick="bugs.ScoreBug({{ bug.pk }}, -1)" role="button">&darr;</a>
					</div>
					<div class="col-10 p-0 m-0 justify-content-between">
						<h5 class="card-title">Issue submitted by {{ bug.reported_by|title }} on {{ bug.created_at }}</h5>
						<p class="card-text">{{ bug.description|markdownify |linebreaks}}</p>
					</div>
				</div>
				<div class="border-top border-dark mt-1 pt-1 py-3 container">
					<ul class="list-inline row">
						<div class="col-6">
							<li class="list-inline-item"><em><b>Bug Priority:</b></em> {{ bug.priority }}</li>
							<li class="list-inline-item"><em><b>Bug is fixed:</b></em> {{ bug.fixed }}</li>
							<li class="list-inline-item"><em><b>Points:</b></em> {{ bug.score }}</li>
						</div>
						<div class="col">
						</div>
						 {% if user == bug.reported_by %}
						<div class="btn-group col-md-auto justify-content-end" role="group">
							<button id="btnGroupDrop1" type="button"
									class="btn btn-secondary dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							⚙
							</button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
								<button onclick="bugs.DeleteBug({{ bug.pk }})" class="btn btn-danger dropdown-item">Delete</button>
								<button id="editButton" type="button" class="btn btn-primary dropdown-item" data-toggle="modal" data-taget="#editModal">Edit</button>
								<button onclick="bugs.MarkAsFixed({{ bug.pk }}, {{ bug.fixed|lower}})" class="btn btn-primary dropdown-item">Toggle fixed</button>
							</div>
						</div>
						{% endif %}
					</ul>
				</div>
				<div>
					<div class="list-group">
						{% for comment in comments %}
						<div class="list-group-item alert alert-primary container">
							<div class="row p-0 m-0">
								<div class="col-1 h-100 p-auto">
									<a class="btn btn-success" onclick="comments.ScoreComment({{ bug.pk }}, {{ comment.pk }}, 1)" role="button">&uarr;</a>
									<p class="m-2">{{ comment.score }}</p>
									<a class="btn btn-danger" onclick="comments.ScoreComment({{ bug.pk }}, {{ comment.pk }}, -1)" role="button">&darr;</a>
								</div>
								<div class="col-11 p-0 m-0">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">{{ comment.commented_by|title }}:</h5>
										<small>{{ comment.created_at }}</small>
									</div>
									<p class="">{{ comment.message }}</p>
								</div>
								<div class="row">
									<div class="col-1"></div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Take part in the discussion:</h5>
							<form method="POST" action="{{ bug.pk }}/comment">
							{% csrf_token %}
							<div class="form-group row">
								<label for="commentInput" class="col-form-label px-2">Comment</label>
								<div class="col-10 ">
									{{ form.message }}
									<small id="titleHelp" class="form-text text-muted">Please be civil</small>
								</div>
								<div class="row align-items-end py-4 px-2 col">
									<button type="submit" class="btn btn-primary align-bottom">Comment</button>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
		</div>
		<script>
				let editModal = $("#editModal");
				$("#editButton").click(function(){
					editModal.modal();
				})
		</script>
{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">Login</a>
	<p>Not registered yet? Sign up <a href="/accounts/signup/">here</a></p>
{% endif %}
{% endblock %}