<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
		<div class="card">
			<div class="card-header">
			   <h2>{{ bug.title }}</h2>
			</div>
			<div class="card-body">
				<h5 class="card-title">Issue submitted by {{ bug.reported_by }} on {{ bug.created_at }}</h5>
				<p class="card-text">{{ bug.description }}</p>
				<div class="border-top border-dark py-3">
				<ul class="list-inline">
					<li class="list-inline-item"><em><b>Bug Priority:</b></em> {{ bug.priority }}</li>
					<li class="list-inline-item"><em><b>Bug is fixed:</b></em> {{ bug.fixed }}</li>
				</ul>
			 </div>
			  <div class="row">
				<button onclick="bugs.DeleteBug({{ bug.pk }})" class="btn btn-danger">Delete Bug</button>
				<button onclick="bugs.UpdateBug({{ bug.pk }})" class="btn btn-primary">Edit Bug</button>
				<button onclick="bugs.MarkAsFixed({{ bug.pk }}, {{ bug.fixed|lower}})" class="btn btn-primary">Mark as fixed</button>
			  </div>
			</div>
		  </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
  <p>Not registered yet? Sign up <a href="/accounts/signup/">here</a></p>
{% endif %}
{% endblock %}