<!-- templates/home.html -->
{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
{% if user.is_authenticated %}
    <div class="row jumbotron">
		<h1 class="display-3">Bug Tracker</h1>
		<p class="lead">Hello {{ current_user|title }} and welcome to the Bug Tracker application, built to help you with your bug related issues</p>
		<hr class="my-2">
		<p>Below you can browse bugs reported by other users and see your own</p>
		<p class="lead">
    </div>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h2>Bugs Reported by Our Users</h2>
				<div class="card border scroll">
					<div class="card-body">
						{% for bug in all_bugs %}
							{% if user != bug.reported_by %}
								<div class="list-group">
									<a href="/bugs/{{ bug.id }}" class="list-group-item list-group-item-action flex-column align-items-start  {% if bug.fixed %} bg-success {% else %} bg-light {% endif %}">
										<div class="f-flex w-100 justify-content-between">
											<h5 class="mb-1">{{ bug.title }}</h5>
										</div>
										<p class="mb-1">{{ bug.description|slice:"100"|cut:"#"|markdownify }}...</p>
										<div class="text-right">
											<small>Submitted: {{ bug.created_at}}</small>
											<small>Fixed: {{ bug.fixed }}</small>
										</div>
									</a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-sm">
				<h2>Bugs Reported by {{ current_user|title }}</h2>
				<div class="card border scroll">
					{% if bugs_by_user.all %}
					<div class="card-body">
						{% for bug in bugs_by_user %}
						<div class="list-group">
								<a href="/bugs/{{ bug.id }}" class="list-group-item list-group-item-action  {% if bug.fixed %} bg-success {% else %} bg-light {% endif %}"> {{ bug.title }} </a>
						</div>
						{% endfor %}
					</div>
					{% else %}
						<div class="card-body">
							<p>You have not submitted any bugs yet</p>
							<p>Get started by <a href="/bugs">submitting a bug</a></p>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">Login</a>
	<p>Not registered yet? Sign up <a href="/accounts/signup/">here</a></p>
{% endif %}
{% endblock %}